@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeVideo {
  0%, 100% {
    opacity: 4;
  }
  95%, 99% {
    opacity: 0.99;
  }
}

.video-responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

video.w-full.h-full.object-contain.VPY_from_APL1 {
  background: rgb(0, 0, 0);
}


@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-900 leading-normal;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white px-6 py-2 rounded-md hover:bg-blue-700 transition-colors duration-200;
  }

  .btn-secondary {
    @apply border-2 border-blue-600 text-blue-600 px-6 py-2 rounded-md hover:bg-blue-600 hover:text-white transition-colors duration-200;
  }
}